a.title:link {
  COLOR: white;
  TEXT-DECORATION: none;
  font-weight: normal
}

a.title:visited {
  COLOR: white;
  TEXT-DECORATION: none;
  font-weight: normal
}

a.title:active {
  COLOR: white;
  TEXT-DECORATION: none
}

a.title:hover {
  COLOR: white;
  TEXT-DECORATION: none;
  font-weight: none
}

.customerTable td {
  margin: 30px;
  padding: 30px;
}

.myTable td {
  padding: 10px;
}

.product-block {
  margin: 20px;
  padding: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}

.product-form-title {
  padding-bottom: 20px;
  font-size: 30px;
}

.product-table td {
  margin: 30px;
  padding: 30px;
}

.product-submit {
  padding-top: 30px;
}