<!-- Mobile Menu start -->
<div class="mobile-menu-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="mobile-menu-nav">
              <li><a href="#!customer/home">Home</a>
              </li>
              <li><a href="#!customer/subscription">Subscription</a>
              </li>
              <li><a href="#!customer/settings">Settings</a>
              </li>
              <li><a href="#!customer/scheduled_devices">Scheduled Devices</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
          <li class="active"><a href="#!customer/home"><i class="notika-icon notika-house"></i> Home</a>
          </li>
          <li><a href="#!customer/subscription"><i class="notika-icon notika-form"></i> Subscription</a>
          </li>
          <li><a href="#!customer/settings"><i class="notika-icon notika-settings"></i> Settings</a>
          </li>
          <li><a href="#!customer/scheduled_devices"><i class="notika-icon notika-star"></i> Scheduled Devices</a>
          </li>
        </ul>
        <div class="tab-content custom-menu-content">

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Menu area End-->
<div class="container" id="deviceStatusModificationCtrl" style="margin-top:10px">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" onclick="javascript:window.history.go(-1)"></span></button>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="row" style="padding:15px;">
        <h2>Device: {{device.dvName}}</h2>
      </div>
      <button ng-class="addClass" ng-model="deviceStatus" ng-click="changeDeviceStatus(deviceStatus)">{{deviceStatusPrint}}</button>
      <div class="row" ng-show="deviceStatus==1 && deviceSlider!='null'" style="padding:20px;">
        <form name="sliderForm" novalidate>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><input class="form-control" type="number" id="deviceSliderValue" name="deviceSliderValue" min="0" max="{{deviceImg.maxVal}}" ng-model="deviceSliderValue" ng-change="changeDeviceSlider(deviceSliderValue)"
                slider-dir /></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><button type="submit" class="btn btn-success" ng-disabled="sliderForm.deviceSliderValue.$invalid">></button></div>
          </div>
          <span style="color:red;" ng-show="sliderForm.deviceSliderValue.$dirty && sliderForm.deviceSliderValue.$invalid">
            <span ng-show="sliderForm.deviceSliderValue.$error.required">Please enter valid value</span>
            <span ng-show="!sliderForm.deviceSliderValue.$error.required && sliderForm.deviceSliderValue.$error.sliderValid">Please enter valid value</span>
          </span>
        </form>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="row">
          <div ng-if="isScheduled">
            <h2>Modify Scheduling for {{device.dvName}}</h2>
          </div>
          <div ng-if="!isScheduled">
            <h2>Create Scheduling for {{device.dvName}}</h2>
          </div>
        </div>
        <br />
        <form name="schedulingForm" novalidate>
          <div class="row">
            <select class="form-control" name="repetition" ng-options="repetition for repetition in repetitionArray" ng-model="repetition" ng-required="true"></select>
            <div class="row small" ng-if="repetition==0" style="margin:10px;">
              (You have not set default repetition for scheduling.)
            </div>
            <br />
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="time" class="form-control" name="startTime" ng-model="startTime" placeholder="yyyy-MM-ddTHH:mm:ss" min="{{dateMin}}" ng-required="true" />
              <span style="color:red;" ng-show="schedulingForm.startTime.$dirty && schedulingForm.startTime.$invalid">
                <span class="error" ng-show="schedulingForm.startTime.$error.required">
                  Starting date required!</span>
              </span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><input type="time" class="form-control" name="endTime" ng-model="endTime" placeholder="yyyy-MM-ddTHH:mm:ss" min="{{dateMin}}" ng-required="true" />
              <span style="color:red;" ng-show="schedulingForm.endTime.$dirty && schedulingForm.endTime.$invalid">
                <span class="error" ng-show="schedulingForm.endTime.$error.required">
                  Ending date required!</span>
              </span>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              Device Status:
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
              <button ng-class="addClassAfterStatus" ng-model="afterStatus" ng-disabled="schedulingForm.startTime.$invalid || schedulingForm.endTime.$invalid" ng-click="changeAfterStatus(afterStatus)">{{afterStatusPrint}}</button>
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <button class="btn btn-primary" ng-disabled="schedulingForm.$invalid" ng-click="scheduleDevice(startTime,endTime,afterStatus,repetition)"><span ng-if="isScheduled">Modify</span><span ng-if="!isScheduled">Create</span></button>
          </div>
        </form>
      </div>
      <br />
    </div>
  </div>
  <div class="row" ng-if="isScheduled">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>From Scheduled Time</th>
          <th>To Scheduled Time</th>
          <th>After Status</th>
          <th>Repetition</th>
          <th>Created Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{scheduleInfo.startTime}}</td>
          <td>{{scheduleInfo.endTime}}</td>
          <td ng-if="scheduleInfo.afterStatus==1">ON</td>
          <td ng-if="scheduleInfo.afterStatus==0">OFF</td>
          <td>{{scheduleInfo.repetition}}</td>
          <th>{{scheduleInfo.createdDate}}</th>
          <td>
            <button class="btn btn-danger" ng-click="deleteScheduleDevice()">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-if="!isScheduled">
    {{device.dvName}} has not been scheduled yet!
  </div>
</div>