<!-- Mobile Menu start -->
<div class="mobile-menu-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="mobile-menu-nav">
              <li><a href="#!customer/home">Home</a>
              </li>
              <li><a href="#!customer/subscription">Subscription</a>
              </li>
              <li><a href="#!customer/settings">Settings</a>
              </li>
              <li><a href="#!customer/scheduled_devices">Scheduled Devices</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
          <li><a href="#!customer/home"><i class="notika-icon notika-house"></i> Home</a>
          </li>
          <li class="active"><a href="#!customer/subscription"><i class="notika-icon notika-form"></i> Subscription</a>
          </li>
          <li><a href="#!customer/settings"><i class="notika-icon notika-settings"></i> Settings</a>
          </li>
          <li><a href="#!customer/scheduled_devices"><i class="notika-icon notika-star"></i> Scheduled Devices</a>
          </li>
        </ul>
        <div class="tab-content custom-menu-content">

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Menu area End-->
<div class="container well myCode" ng-controller="SubscriptionController" id="subscriptionModificationCtrl">
  <div ng-if="subscriptionArray.length==0">
    <show-nothing stringb="noSubscription"></show-nothing>
  </div>
  <div ng-if="subscriptionArray.length>0">
    <table class="table table-sc-ex">
      <thead>
        <tr>
          <th>Subscription</th>
          <th>Hardware Serial No</th>
          <th>Expiration Date</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody id="subscription_details" ng-repeat="subscription in subscriptionArray">
        <tr>
          <td>{{$index+1}}</td>
          <td>
            {{subscription.serialNo}}
          </td>
          <td>{{subscription.leftTime}}</td>
          <td><span ng-if="subscription.state==1" style='color:green;'>Running</span><span ng-if="subscription.state!=1" style='color:red;'>Expired</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>