<style>
#suggest_container { position:relative; overflow:visible;}
#autosuggest { position:absolute; top:<height-of-search-form>; left:0px; }
</style>
<!-- Mobile Menu start -->
<div class="mobile-menu-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="mobile-menu-nav">
              <li><a data-toggle="collapse" data-target="#Charts" href="#!admin/home">Home</a>
                <ul class="collapse dropdown-header-top">
                  <li><a href="#!admin/home">View Products</a>
                  </li>
                  <li><a href="#!admin/create_product">Add Product</a>
                  </li>
                </ul>
              </li>
              <li><a href="#!admin/home">View Products</a>
              </li>
              <li><a href="#!admin/create_product">Add Product</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
          <li class="active"><a href="#!admin/home" data-toggle="tab"><i class="notika-icon notika-house"></i> Home</a>
          </li>
          <li><a href="#!admin/dealer" data-toggle="tab"><i class="glyphicon glyphicon-user"></i> Assign Dealer</a>
          </li>
        </ul>
        <div class="tab-content custom-menu-content">
          <div id="Home" class="tab-pane active in notika-tab-menu-bg animated flipInX">
            <ul class="notika-main-menu-dropdown">
              <li><a href="#!admin/home">View Products</a>
              </li>
              <li><a href="#!admin/create_product">Add Product</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Menu area End-->
<div class="container">
  <div class="row" style="margin:10px;">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  product-form-title">
      Product: {{product.name}}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        <form name="numForm" novalidate>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <span class="nk-label">No of serial number</span>
            <input type="checkbox" class="form-control" name="isNumAllowed" ng-model="isNumAllowed" />
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-show="isNumAllowed">
            <input type="text" class="form-control" name="numSerials" ng-model="numSerials" ng-pattern="/^[0-9]*$/" />
            <span style="color:red;" ng-show="numForm.numSerials.$dirty && numForm.numSerials.$invalid">
              <span ng-show="numForm.numSerials.$error.pattern">Please enter only digits</span>
            </span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <button class="btn btn-primary" ng-click="openInputModal()" ng-disabled="numForm.numSerials.$invalid">Add Serial Number</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" style="padding:0px 0px 20px 20px;">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        Assigned Serials: <b>{{assignedSerials}}</b>
      </div>
      <div class="row">
        Not Assigned Serials: <b>{{notAssignedSerials}}</b>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        <div id="suggest_container">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </span>
            <div>
              <input class="form-control" type="text" name="sProductSerial" ng-model="sProductSerial" my-enter="searchProductSerialFunc(sProductSerial)" />
              <!-- <input class="form-control" type="text" name="sProductSerial" ng-model="sProductSerial" ng-change="searchProductSerial(sProductSerial)" /> -->
            </div>
          </div>
          <!-- <div id="autosuggest">
            <ul ng-bind-html="autoSuggest">
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="isSearchBoxOn">
    <div class="row pull-right" style="margin:10px;">
      <button class="btn btn-danger" ng-click="closeSearchBox()">&times;</button>
    </div>
    <div ng-bind-html="searchProductSerial">

    </div>
  </div>
  <div class="row">
    <div ng-if="productSerialArray.length==0" ng-bind-html="showNothing">
    </div>
    <div ng-if="productSerialArray.length>0">
      <div class="data-table-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="data-table-list">
                <div class="basic-tb-hd">
                  <h2>Product Serials</h2>
                </div>
                <div class="table-responsive">
                  <table id="data-table-basic" class="table table-striped">
                    <thead>
                      <tr>
                        <th>index</th>
                        <th>Product Serial number</th>
                        <th>Dealer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="productSerial in productSerialArray track by $id(productSerial)">
                        <td>
                          {{$index+1}}
                        </td>
                        <td>
                          {{productSerial.serial_no}}
                        </td>
                        <td>{{productSerial.dealer_name}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>index</th>
                        <th>Product Serial number</th>
                        <th>Dealer</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="openInputModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2>Add Serial numbers</h2>
        <form name="productSerialForm" novalidate>
          <div class="row" ng-repeat="inp in inputArray track by $id(inp)">
            <div class="nk-int-st">
              <input class="form-control" name="{{inp}}" ng-model="modelInp[$index]" type="text" placeholder="Product Serial Number {{$index+1}}" product-serial-dir ng-required="true" />
            </div>
            <span style="color:red;" id="productSerial" ng-show="productSerialForm.{{inp}}.$dirty && productSerialForm.{{inp}}.$invalid">
              <span ng-show="!productSerialForm.{{inp}}.$error.required">This field is required</span>
              <span ng-show="!productSerialForm.{{inp}}.$error.required && productSerialForm.{{inp}}.$error.productSerialValid">Please enter only alphabetics and digits</span>
              <span ng-show="!productSerialForm.{{inp}}.$error.required && productSerialForm.{{inp}}.$error.duplicateExists">Duplicate product serial</span>
              <span ng-show="!productSerialForm.{{inp}}.$error.required && productSerialForm.{{inp}}.$error.productSerialExists">Product serial number already exists</span>
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="margin:10px;">
        <button type="button" class="btn btn-default" ng-disabled="productSerialForm.$invalid" ng-click="submitProductSerials()">add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
