<!-- Mobile Menu start -->
<div class="mobile-menu-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="mobile-menu-nav">
              <li><a data-toggle="collapse" data-target="#Charts" href="#!admin/home">Home</a>
                <ul class="collapse dropdown-header-top">
                  <li><a href="#!admin/home">View Products</a>
                  </li>
                  <li><a href="#!admin/create_product">Add Product</a>
                  </li>
                </ul>
              </li>
              <li><a href="#!admin/dealer">Assign Dealer</a>
              <li><a href="#!admin/settings">Settings</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
          <li class="active"><a href="#!admin/home" data-toggle="tab"><i class="notika-icon notika-house"></i> Home</a>
          </li>
          <li><a href="#!admin/dealer" data-toggle="tab"><i class="glyphicon glyphicon-user"></i> Assign Dealer</a>
          </li>
          <li><a href="#!admin/settings"><i class="notika-icon notika-settings"></i> Settings</a>
          </li>
        </ul>
        <div class="tab-content custom-menu-content">
          <div id="Home" class="tab-pane active in notika-tab-menu-bg animated flipInX">
            <ul class="notika-main-menu-dropdown">
              <li><a href="#!admin/home">View Products</a>
              </li>
              <li><a href="#!admin/create_product">Add Product</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Menu area End-->
<div class="container">
  <div class="row">
    <div ng-if="productArray.length==0" ng-bind-html="showNothing">
    </div>
    <div ng-if="productArray.length>0">
      <div class="data-table-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="data-table-list">
                <div class="basic-tb-hd">
                  <h2>Products</h2>
                </div>
                <div class="table-responsive">
                  <table id="data-table-basic" class="table table-striped">
                    <thead>
                      <tr>
                        <th>index</th>
                        <th>Product Name</th>
                        <th>Selling Rate</th>
                        <th>Purchase Rate</th>
                        <th>Product code</th>
                        <th>Taxation</th>
                        <th>Hashcode</th>
                        <th>Qty Name</th>
                        <th>Edit</th>
                        <th>Add</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="product in productArray track by $id(product)">
                        <td>
                          {{$index+1}}
                        </td>
                        <td>
                          {{product.name}}
                        </td>
                        <td>
                          {{product.s_rate}}
                        </td>
                        <td>
                          {{product.p_rate}}
                        </td>
                        <td>
                          {{product.product_code}}
                        </td>
                        <td>
                          {{product.taxation}}
                        </td>
                        <td>
                          {{product.hsncode}}
                        </td>
                        <td>
                          {{product.qty_name}}
                        </td>
                        <td>
                          <a class="btn btn-primary" href="#!admin/product/{{product.name}}"><span class="glyphicon glyphicon-pencil"></span></a>
                          <!-- <a class="btn btn-danger" ng-click="deleteProduct(product.name)"><span class="glyphicon glyphicon-trash"></span></a> -->
                        </td>
                        <td>
                          <a class="btn btn-default" href="#!admin/home/{{product.name}}"><span class="glyphicon glyphicon-plus"></span></a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>index</th>
                        <th>Product Name</th>
                        <th>Selling Rate</th>
                        <th>Purchase Rate</th>
                        <th>Product code</th>
                        <th>Taxation</th>
                        <th>Hashcode</th>
                        <th>Qty Name</th>
                        <th>Edit</th>
                        <th>Add</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
