<!-- Mobile Menu start -->
<div class="mobile-menu-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul class="mobile-menu-nav">
              <li><a href="#!dealer_distributor/home">Home</a></li>
              <li ng-if="userType=='dealer'"><a href="#!dealer_distributor/distributor" data-toggle="tab">Assign Distributor</a>
              </li>
              <li ng-if="userType=='distributor'"><a href="#!dealer_distributor/customer">Customer</a></li>
              <li><a href="#!dealer_distributor/productsold">Product Sold</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile Menu end -->
<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
          <li><a href="#!dealer_distributor/home" data-toggle="tab"><i class="notika-icon notika-house"></i> Home</a>
          </li>
          <li ng-if="userType=='dealer'"><a href="#!dealer_distributor/distributor" data-toggle="tab">Assign Distributor</a>
          </li>
          <li ng-if="userType=='distributor'"><a href="#!dealer_distributor/customer">Customer</a>
          </li>
          <li class="active"><a href="#!dealer_distributor/productsold">Product Sold</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Main Menu area End-->

<div class="container" style="margin-top:20px;">
  <div class="row">
    <div ng-if="productSoldList.length==0">
      <show-nothing stringb="noProduct"></show-nothing>
    </div>
    <div ng-if="productSoldList.length>0">
      <div class="data-table-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="data-table-list">
                <div class="basic-tb-hd">
                  <h2>Products</h2>
                </div>
                <div class="table-responsive">
                  <table id="data-table-basic" class="table table-striped">
                    <thead>
                      <tr>
                        <th>index</th>
                        <th>Product Name</th>
                        <th>Serial No</th>
                        <th>Customer Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="product in productSoldList track by $id(product)" style="cursor:pointer;">
                        <td>
                          {{$index+1}}
                        </td>
                        <td>
                          {{product.productName}}
                        </td>
                        <td>
                          {{product.serialNo}}
                        </td>
                        <td ng-if="userType=='distributor'">
                          <span ng-show="showTextFieldArray[$index]">
                            <div class="row">
                              <form class="changeCustomerEmailForm{{$index}}" novalidate>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-6">
                                  <input type="email" class="form-control input-sm" name="changeCustomerEmail" ng-model="changeCustomerEmailModel" ng-required="true" customer-email-dir />
                                  <span style="color:red;" ng-show="changeCustomerEmailForm{{$index}}.changeCustomerEmail.$dirty && changeCustomerEmailForm{{$index}}.changeCustomerEmail.$invalid">
                                    <span ng-show="changeCustomerEmailForm{{$index}}.changeCustomerEmail.$error.required">Customer Email ID is required</span>
                                    <span ng-show="!changeCustomerEmailForm{{$index}}.changeCustomerEmail.$error.required && changeCustomerEmailForm{{$index}}.changeCustomerEmail.$error.emailValid">Customer Email ID is not correct</span>
                                  </span>
                                </div>
                                <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6">
                                  <button type="submit" ng-disabled="changeCustomerEmailForm{{$index}}.$invalid" class="btn btn-sm btn-success" ng-click="backToLabel(product,$index,changeCustomerEmailModel)">Change</button>
                                </div>
                              </form>
                            </div>
                          </span>
                          <span ng-show="!showTextFieldArray[$index]" ng-click="changeToTextField(product,$index)">{{product.soldToEmail}}</span>
                        </td>
                        <td ng-if="userType=='dealer'">
                          {{product.soldToEmail}}
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>index</th>
                        <th>Product Name</th>
                        <th>Serial No</th>
                        <th>Customer Email</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>